/* timeline.component.scss */
.timeline-container {
    position: relative;
    padding: 16px 0;
    margin: 0 auto;
}

.timeline-info {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.4;
}

.debug-info {
  font-size: 0.85rem;
  color: #777;
  margin-bottom: 1rem;
}

/* -------------- */

.timeline-item.background-image {
  --background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  color: white;
}

/* 
.timeline-item.background-image {
  position: relative;
  background: url('assets/images/bg-timeline.jpg') no-repeat center/cover;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  --background: transparent;
}
*/

.timeline-item.background-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}

.timeline-item {
  --padding-start: 1rem;
  --inner-padding-end: 1rem;
  align-items: flex-start;
}

/* 
.timeline-label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
*/

.timeline-label {
  position: relative;
  z-index: 2;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.timeline-subtitle {
  font-size: 1rem;
  font-style: italic;
  white-space: normal; // può andare su più righe
}

.timeline-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.day-of-week {
  font-size: 0.9rem;
  opacity: 0.7;
}

.day-and-month {
  font-size: 1.4rem;
  font-weight: bold;
}

.year {
  font-size: 1rem;
  color: var(--ion-color-medium);
}

.actions {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
}
