<div>
  <ion-card
    class="pastel-green"
    *ngFor="let bit of (selectedBitsOfMyLifeState$ | async)?.bitsOfMyLife"
    [ngClass]="{'today-card': bit.milestone.id === todayMilestoneId}"
  >
    <ion-card-content class="bit-of-my-life-card-content">

      <!-- Timeline: linea + puntino -->
      <div class="timeline">
        <div class="bit-of-my-life-line"></div>
        <div class="bit-of-my-life-dot" [ngClass]="{'today-dot': bit.milestone.id === todayMilestoneId}"></div>
      </div>

      <!-- Contenuto principale -->
      <div class="milestone-info">
        <!-- Data -->
        <div class="date-container" [ngClass]="{'today-date': bit.milestone.id === todayMilestoneId}">
          <span class="date-text">{{ bit.milestone.date | date:'dd/MM/yyyy' }}</span>
        </div>

        <!-- Titolo e differenza temporale -->
        <strong class="milestone-title">{{ bit.milestone.note }}</strong>
        <ion-note class="time-diff">
          Anni: {{ bit.diff.years }} | Mesi: {{ bit.diff.months }} | Giorni: {{ bit.diff.days }}
        </ion-note>

        <!-- Action buttons -->
        <div class="action-buttons" *ngIf="bit.milestone.id !== todayMilestoneId">
          <ion-button shape="round" class="edit-button" (click)="editBitOfMyLife(bit)">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-button>
          <ion-button shape="round" class="delete-button" (click)="deleteBitOfMyLife(bit.milestone.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
</div>


<ion-modal [isOpen]="isEditBitOfMyLifeModalOpen" [canDismiss]="!isEditBitOfMyLifeModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modifica Milestone</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeEditBitOfMyLifeDialog()">Chiudi</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>      
    <ion-content>
      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-input type="date" [ngModel]="editingMilestone.date | date:'yyyy-MM-dd'" 
                  (ngModelChange)="formatedDate = $event">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Note</ion-label>
        <ion-input type="text" [(ngModel)]="editingMilestone.note"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="updateBitOfMyLife()">Update</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
