/**
 * Ionic Dark Theme
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {

}

ion-app {
	
  	background-image: url('../assets/main-background-01.png');
	
}

ion-header {
  box-shadow: none !important;
  border-radius: 0;

  --background: transparent;
}

ion-toolbar {
  --background: transparent;
  
  /* border: solid red; /* solo per debug */
}

ion-content {
  --background: transparent;

  /* border: solid green; /* solo per debug */
}

ion-card {
  --box-shadow: none !important;
  box-shadow: none !important;

    /*--background: transparent !important;*/
}

ion-list {
  --background: transparent !important; /* sembra non funzionare */
  background: transparent !important;
}

ion-item-sliding {
  --background: transparent;
}

ion-item {
  --background: transparent;
}

ion-label {
}

ion-note {
}