/**
 * Ionic Dark Theme
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {

	/**/
	/*
	--ion-background-color: #3f964a; 
	--ion-text-color: green
	*/

  --ion-background-color: #fafafa;
  --ion-text-color: #1f1f1f;
}

ion-app {
	/*
  	background-image: url('../assets/main-background.png');
	*/
	
	
}

ion-header {
  box-shadow: none !important;
  border-radius: 0; /* bordi spigolosi */
}

ion-toolbar {
  /*--background: transparent !important;*/
  
  /* border: solid red; /* solo per debug */
}

ion-content {
    /*--background: transparent !important;*/

  /* border: solid green; /* solo per debug */
}

ion-card {
  --box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0; /* bordi spigolosi */

    /*--background: transparent !important;*/
}

ion-list {
  /*background: transparent !important;*/
}

ion-item-sliding {
  
}

ion-item {
    /*--background: transparent !important;*/
}

ion-label {
  
}

ion-note {
  
}