/**
 * Ionic Dark Theme
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {

}

ion-app {
	/*
  	background-image: url('../assets/main-background.png');
	*/
  
	background: radial-gradient(
      circle at 30% 10%,
      rgba(0, 180, 110, 0.20),
      transparent 60%
    ),
    radial-gradient(
      circle at 70% 25%,
      rgba(0, 200, 160, 0.15),
      transparent 65%
    ),
    radial-gradient(
      circle at 50% 90%,
      rgba(120, 210, 255, 0.25),
      transparent 70%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 150, 90, 0.35),
      rgba(120, 210, 255, 0.30)
    );   
}

ion-header {
  box-shadow: none !important;
  border-radius: 0; /* bordi spigolosi */

  --background: transparent;
}

ion-toolbar {
  --background: transparent;
  
  /* border: solid red; /* solo per debug */
}

ion-content {
  --background: transparent;

  /* border: solid green; /* solo per debug */
}

ion-card {
  --box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0; /* bordi spigolosi */

  --background: 
    radial-gradient(
      circle at 40% 20%,
      rgba(50, 200, 150, 0.25),
      transparent 65%
    ),
    radial-gradient(
      circle at 60% 80%,
      rgba(100, 220, 255, 0.20),
      transparent 70%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 180, 110, 0.40),
      rgba(120, 210, 255, 0.35)
    );

    /*--background: transparent !important;*/
}

ion-list {
  --background: transparent !important; /* sembra non funzionare */
  background: transparent !important;
}

ion-item-sliding {
  --background: transparent;
}

ion-item {
  --background: transparent;
}

ion-label {
}

ion-note {
}