/**
 * Ionic Dark Theme
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
  
}

ion-app {
  /* border: solid red; /* solo per debug */
}

ion-header {
  /*--background: transparent;*/

  /* border: solid red; /* solo per debug */
}

ion-toolbar {
  /*--background: transparent;*/
  
  /* border: solid red; /* solo per debug */
}

ion-content {
  /*--background: transparent;*/

  /* border: solid green; /* solo per debug */
}

ion-card {

    /*--background: transparent !important;*/
}

ion-list {
  /*
  --background: transparent !important;
  background: transparent !important;
  */
}

ion-item-sliding {
  /*--background: transparent;*/
}

ion-item {
  /*--background: transparent;*/
}

ion-label {
}

ion-note {
}
