
.fixed-fab {
  position: fixed;
  bottom: 5px;
  right: 5px;
  //z-index: 20;
}

ion-header {

  //border: solid green; /* solo per debug */
}

ion-toolbar {
  
  //border: solid red; /* solo per debug */
}

ion-content {

  // border: solid green; /* solo per debug */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  //border: solid green; /* solo per debug */
}

.fixed-area {
  flex: 0 0 auto;

  //border: solid green; /* solo per debug */
}

.scrollable-area {
  flex: 1 1 auto;
  overflow-y: auto;
  
  //border: solid red; /* solo per debug */  
}
