.fixed-fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  //z-index: 20;
}

ion-app {
  background-image: url('main-backgroud.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ion-header {
  --background: transparent !important;
}

ion-toolbar {
  --background: transparent !important;
}

ion-content {
  --background: transparent !important;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fixed-area {
  flex: 0 0 auto;
  //position: sticky;
  //top: 0;
  //z-index: 10;

  //border: solid green; /* solo per debug */
}

.scrollable-area {
  flex: 1 1 auto;
  overflow-y: auto;
  
  //border: solid red; /* solo per debug */  
}