.fixed-fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fixed-area {
  flex: 0 0 auto;
  position: sticky;
  top: 0;
  z-index: 10;

  border: solid green; /* solo per debug */
}

.scrollable-area {
  flex: 1 1 auto;
  overflow-y: auto;
  
  border: solid red; /* solo per debug */
}