:host {
}

ion-header {
}

ion-toolbar {
}

/* Content completamente trasparente */
ion-content {
}

/* contenitore principale: colonna */
.page-container {
  //display: flex;
  //flex-direction: column;
  height: 100%;
}

/* parte fissa in alto */
.fixed-area {
  //flex: 0 0 auto;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* parte scrollabile */
.scrollable-area {
  //flex: 1 1 auto;
  overflow-y: auto;   /* scroll solo in questa parte */
}

/* FAB fisso (puoi cambiare posizione) */
.fixed-fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
}

/* App intera: gradiente verde visibile */
ion-app {

}
