:host {
  /* Sfumatura verde di base */
  --background: linear-gradient(
    180deg,
    rgba(46, 204, 113, 0.6) 0%,    /* verde chiaro in alto */
    rgba(39, 174, 96, 0.5) 50%,    /* verde medio a metà */
    rgba(22, 160, 133, 0.3) 100%   /* verde acqua trasparente in basso */
  );
}

ion-toolbar {
  --background: transparent !important;  
}

/* Content completamente trasparente */
ion-content {
  --background: transparent !important;
  --padding-top: 0px;
}
// Potrebbe essere necessario puntare ad una classe interna
.ion-content-scroll-host {
  margin-top: 0 !important;
}

/* App intera: gradiente verde visibile */
ion-app {
  background: var(--background);
}
