/* You can add global styles to this file, and also import other style files */
ion-app {
  background-image: url('/main-backgroud.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}